$color-white: #FBFCFC ;
$color-light-blue:#85C1E9;
$color-light-gray:#F0F3F4 ;
$color-green:#1ABC9C;
$color-blue:#2471A3;
$color-dark-blue:#154360;
$color-green: #2ecc71;

$medium-font:1.6rem;
$small-font:0.8rem;
$large-font:3.2rem;

$spinner: salmon;
$background: white;
$size: 75px;


 